<div class="pt-404">
  <div class="pt-404__glitch" data-text="404">404</div>
  <p class="pt-404__subtitle"><%= __('page_not_found') %></p>
  <p class="pt-404__hint">The page you're looking for has vanished into the void.</p>
  <a class="pt-404__home" href="<%= url_for('/') %>">Back to Home</a>
</div>
