<div class="pt-layout pt-layout--right-sidebar">
  <div class="pt-layout__content">
    <div class="pt-about pt-glass pt-glass--card">
      <div class="pt-post__content">
        <%- page.content %>
      </div>
    </div>
  </div>

  <aside class="pt-layout__sidebar">
    <%- partial('_partial/sidebar', { config: config, theme: theme, site: site }) %>
  </aside>
</div>
