<div class="pt-widget pt-glass pt-glass--card pt-widget--github" data-github-user="<%= theme.github.username %>">
  <h3 class="pt-widget__title">GitHub</h3>
  <div class="pt-widget__content"></div>
</div>
